@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'springRainSolid';
    src: url('/fonts/spring_rain_solid.otf') format('truetype');
    /* font-weight: bolder */
}

/* //home slider  */
.homeSlider>.slick-slider>.slick-dots li.slick-active button:before {
    color: #5CFF85 !important;
}

.cursorPointer {
    cursor: pointer;
}

.homeSlider>.slick-slider .slick-dots li button:before {
    font-size: 8px;
    color: white !important;
    opacity: 1 !important;
}

.homeSlider>.slick-slider button {
    display: none !important;
}

.homeSlider>.slick-slider button {
    display: none !important;
}

.homeSlider>.slick-slider .slick-dots li button {
    display: block !important;
}


.homeSlider>.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
}


/* //home carousal  */
.carousal {
    animation: carousal 20s linear infinite;
}

.carousal2 {
    animation: carousal2 35s linear infinite;
}


@keyframes carousal {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes carousal2 {
    0% {
        transform: translateY(80%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.customBorder {
    border: 1px solid;
}

.customBorderBottom {
    border-bottom: 0.5px solid;
}

.customBorderBottom2 {
    border-bottom: 1px solid;
}

.customBorderBottom3 {
    border-bottom: 1px solid #182736;
}


.inputPlaceholder::placeholder {
    font-size: 16px !important;
}

/* //Media Query  */
@media (max-width:768px) {
    .inputPlaceholder::placeholder {
        font-size: 14px !important;
    }
}

@media (max-width:614px) {
    .inputPlaceholder::placeholder {
        font-size: 10px !important;
    }
}

.inputDesign::placeholder {
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    color: #2F2F2F;
}

.inputDesign2::placeholder {
    font-size: 12px;
    font-weight: 600;
    color: #2F2F2F;
}


/* //navbar service  */

.servicesAfter {
    position: absolute;
    right: -0px;
    top: 43%;
    transform: rotate(-45deg);
    margin-left: 4px;
    border-top: 0;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 0;
    width: 8px;
    height: 8px;
    transition: all 0.4s ease-in-out;
}

.servicesShow:hover .servicesAfter {
    transform: rotate(135deg);
    top: 46%;
    border-bottom: 2px solid #5CFF85;
    border-left: 2px solid #5CFF85;
}

.servicesBottomList {
    display: none;
    position: absolute;
    top: 0px;
    left: -370px;
}

.servicesShow:hover .servicesBottomList {
    display: flex;
    top: 83px;
    left: -260px;
    transition: all 0.2s ease-in-out;
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(20%);
    }

    to {
        transform: translateY(0);
    }
}

/* components/Loader.module.css */
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

/* //sliding for home section  */
.marquee-container {
    position: relative;
    height: 60px;
    overflow: hidden;
    font-weight: 250px;
}

.marquee-text {
    position: absolute;
    top: 4rem;
    right: 0rem;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s, transform 1s;
}

.marquee-text.active {
    opacity: 1;
    transform: translateY(-100%);
}

@media (max-width : 978px) {
    .marquee-container {
        height: 40px;
    }

    .marquee-text {
        top: 2.8rem;
    }
}

@media (max-width : 640px) {
    .marquee-container {
        height: 34px;
    }

    .marquee-text {
        top: 2.2rem;
    }
}

/* shadow effect on cards  */
.boxShadow:hover {
    box-shadow: 2px 2px 3px 0px #5CFF85;
    border-radius: 8px;
}

/* shadow effect on pricing cards  */
.PricingboxShadow {
    box-shadow: 0.1px 0.1px 10px 0.2px #5CFF85;
    border-radius: 30px;
}

/* //scrollbar property  */
.scrollBar::-webkit-scrollbar {
    width: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    background: #182736;
}

.scrollBar::-webkit-scrollbar-thumb {
    background: #5CFF85;
    border-radius: 5px;
}

.scrollBar::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* //scrollbar property  */
.scrollBarPrice::-webkit-scrollbar {
    width: 1px;
    height: 4px;
}

.scrollBarPrice::-webkit-scrollbar-track {
    background: #182736;
}

.scrollBarPrice::-webkit-scrollbar-thumb {
    background: #5CFF85;
    border-radius: 5px;
}

.scrollBarPrice::-webkit-scrollbar-thumb:hover {
    background: #555;
}